/*Global*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*Header/Navbar*/
header {
  background-color: #3a2b27;
  border-bottom: black solid 3px;
}

header nav {
  float: right;
}

header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

header nav li {
  padding: 0 20px 15px 20px;
  float: left;
  list-style: none;
}

header a:hover {
  color: cyan;
  font-weight: bold;
}

header.current a {
  color: cyan;
}

/*Products*/
#products {
  border-bottom: black solid 3px;
}

/*Form*/

/*Footer*/
#footer {
  position: absolute;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3a2b27;
  color: white;
  bottom: 0;
  width: 100%;
}
