/*Global*/
body {
  margin: 0;
  padding: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*Navbar*/
.header {
  background-color: rgba(141, 79, 220, 0.63);
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1%;
}
.logo {
}
a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  width: 20vw;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}

/*HomePage*/
.title {
  position: absolute;
  width: 75%;
  left: 12.5vw;
  text-align: center;
  top: 50vh;
  color: white;
  font-size: 3vw;
  background-color: rgba(0, 0, 0, 0.75);
  vertical-align: center;
  padding: 2%;
}

/*Sections*/
.info {
  margin-top: 4em;
}

/*Form*/
form label {
  display: inline-block;
  width: 100px;
  text-align: right;
  float: left;
}

form input {
  margin-left: 1em;
}

form button {
}
